header{
  height: 10vh;
  width: 100vw;
  background: linear-gradient(135deg, rgb(150, 150, 255), rgb(255, 150, 150));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(45, 45, 45);
}
.ytdl {
  text-align: center;
  min-height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(135deg, rgb(150, 150, 255), rgb(255, 150, 150));
  padding-top: 5em;
  gap: 1em;
}
.ytlinkinputwraper{
  width: 80%;
  height: 2.5em;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ytlinkinput{
  height: 100%;
  width: 80%;
  text-align: center;
  border: none;
  font-size: 1.25em;
  padding: 0.5em 1em;
  color: rgb(100, 100, 100);
}
.ytlinkinputbtn{
  height: 100%;
  width: 20%;
  border: none;
  background-color: red;
  font-size: 1.25em;
  color: rgb(222, 222, 222);
}
.InfoSection{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.title{
  font-size: 1.8em;
  color: rgb(50, 50, 50)
}
.video-play{
  max-width: 500px;
  width: 100%;
  height: auto;
  max-height: 80vh;
  border-radius: 1em;
}
.video-play-btn,
.video-pause-btn{
  border-radius: 50%;
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1.5em;
}
.video-play-btn::before{
  content: '';
  position: absolute;
  border-top: 0.8em solid transparent;
  border-left: 1.25em solid white;
  border-right: 0.8em solid transparent;
  border-bottom: 0.8em solid transparent;
  transform: translateX(25%);
}
.video-pause-btn::before{
  content: '';
  position: absolute;
  height: 1.25em;
  width: 0.5em;
  border: 0.25em solid white;
  border-top-color: transparent; 
  border-bottom-color: transparent; 
}
.video-audio-wraper{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 10px;
  color: white;
  margin: 1em;
}
.video-section,
.audio-section{
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.video-section{
  background-color: red
}
/* .audio-section{} */
.download-btn-wraper{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth; */
}
.DownloadSection{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.download-data{
  /* padding: 1em 1.5em; */
  color: white;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 0.5em; */
  width: 100%;
  background-color: transparent;
}
.download-btn{
  padding: 1em 1.5em;
  color: white;
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  /* margin: 0.5em; */
  cursor: pointer;
}

.circle-loader-mega{
  height: 5em;
  width: 5em;
  border-radius: 50%;
  border: 0.5em solid red;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate infinite cubic-bezier(.18,.59,.88,.34) 800ms;
}
.circle-loader-mini{
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: 0.25em solid rgb(255, 255, 255);
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate infinite linear 800ms;
}

@keyframes rotate{
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}



@media only screen and (max-width: 1000px) {
  .title{
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 500px) {
  .ytlinkinputwraper{
    width: 95%;
  }
  .ytlinkinput{
    font-size: 0.8em;
    padding: 0.25em 0.5em;
  }
  .ytlinkinputbtn{
    font-size: 0.8em;
  }
  .title{
    font-size: 1em;
  }
  .InfoSection{
    width: 90%;
  }
  .download-btn-wraper{
    width: 95%;
  }
  .DownloadSection{
    margin: 0.5em;
    border-radius: 20px;
    font-size: 0.8em;
  }
  .download-data{
    width: 100%;
  }
  .download-btn{
    padding: 0.8em 1.5em;
    border-radius: 20px;
    gap: 1em;
  }
}