header{
  height: 10vh;
  width: 100vw;
  background: linear-gradient(135deg, rgb(150, 150, 255), rgb(255, 150, 150));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(45, 45, 45);
}
.ytdl {
  text-align: center;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(135deg, rgb(150, 150, 255), rgb(255, 150, 150));
}
.ytlinkinputwraper{
  width: 80%;
  height: 2.5em;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ytlinkinput{
  height: 100%;
  width: 80%;
  text-align: center;
  border: none;
  font-size: 1.25em;
  padding: 0.5em 1em;
  color: rgb(100, 100, 100);
}
.ytlinkinputbtn{
  height: 100%;
  width: 20%;
  border: none;
  background-color: red;
  font-size: 1.25em;
  color: rgb(222, 222, 222);
}
.download-btn{
  padding: 1em 1.5em;
  color: white;
  background-color: red;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.InfoSection{
  width: 80%;
}
.title{
  font-size: 1.8em;
  color: rgb(50, 50, 50)
}
/* .video-play{
} */

.circle-loader-mega{
  height: 5em;
  width: 5em;
  border-radius: 50%;
  border: 0.5em solid red;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate infinite cubic-bezier(.18,.59,.88,.34) 800ms;
}
.circle-loader-mini{
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  border: 0.25em solid rgb(255, 255, 255);
  border-left-color: transparent;
  border-right-color: transparent;
}

@keyframes rotate{
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}



@media only screen and (max-width: 1000px) {
  .title{
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 500px) {
  .ytlinkinputwraper{
    width: 95%;
  }
  .ytlinkinput{
    font-size: 0.8em;
    padding: 0.25em 0.5em;
  }
  .ytlinkinputbtn{
    font-size: 1em;
  }
  .title{
    font-size: 1em;
  }
}